:root {
    --blue: #0066cd;
    --white: #fff;
    --red: #cd3545;
    --danger: #c62d2d;
    --gray: #333;
    --green: #23963d;
    --bgFocus: rgba(0,102,191,.1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}